 body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            display: flex;
            height: 100vh;
            background-color: pink;
        }
        .left-panel {
            width: 280px;
            background: linear-gradient(135deg,pink, #2575fc);
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 20px;
            border-radius: 25px;
            margin: 4px;
            box-shadow: 5px 0 15px rgba(0,0,0,0.1);
        }

        .profile-pic {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            margin-bottom: 20px;
            border: 4px solid goldenrod;
            object-fit: cover;
            transition: transform 0.3s;
        }

        .profile-pic:hover {
            transform: scale(1.05);
        }

        h2 {
            margin: 0;
            font-weight: 700;
            font-size: 1.6rem;
        }

        p {
            text-align: center;
            font-weight: 300;
            margin-top: 5px;
        }

        .right-content {
            flex: 1;
            padding: 30px;
            overflow-y: auto;
        }

        .top-buttons {
            display: flex;
            gap: 15px;
            margin-bottom: 30px;
        }

        .top-buttons button {
            padding: 12px 25px;
            cursor: pointer;
            border: none;
            background-color: goldenrod;
            color: black;
            font-weight: 500;
            border-radius: 25px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            transition: 0.3s;
        }

        .top-buttons button:hover {
            background-color: purple;
            color: #fff;
            transform: translateY(-2px);
        }

        .section {
            display: none;
            background-color: #fff;
            padding: 25px;
            border-radius: 15px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.05);
            transition: all 0.5s ease;
        }

        .active {
            display: block;
        }

        h1 {
            color: pink;
            margin-top: 0;
        }

        ul {
            padding-left: 20px;
        }

        li {
            margin-bottom: 8px;
        }